
/*
html {
    background-color: rgb(230, 230, 230);
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

h1 {
    padding: 2rem;
}
.materias {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.materias li {
    background-color: #81C2FE;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 20%;
   
}

.temas li {
    
} */

/* div {
    display: flex;
    justify-content: center;
    margin: auto;
} */

/* Imagen para borrar */
.cruz {
    width: 1rem;
    float: right;
}

.liMateria {
    max-width: 800px;
    min-width: 25vw;
    background-color: #8bdbf3;
    border-radius: 1rem;
    padding:1rem;
    margin: 1rem;
}

#materias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 0.5rem;
}

h2 {
    display: inline-block;
}

h3 {
    display: inline-block;
}

h4 {
    display: inline-block;
}

h5 {
    margin-left: 0.5rem;
    display: inline-block;
    color: #5c5c5c;
}

.divBotones {
    display: flex;
    flex-direction: column;
}

.divBotones .btn {
    margin: 0.5rem auto;
}

#barraProgreso {
    display: none;
}

.inputHorasSubtema {
    width: 2rem;
}




